- var email = user ? user.email : ''
doctype html
html
    head
        if texts.seo_title
            title= texts.seo_title
        meta(name='description', content=texts.seo_description)
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

        include includes/social
        include includes/favicons

    body.page(data-env=env)

        #app

        script.
            var place = Object.freeze(!{JSON.stringify(place)}) || false
            var texts = Object.freeze(!{JSON.stringify(texts)}) || {}

        link(href='/layout/css/style.css' rel="stylesheet")
        script(src="/layout/js/app.js" defer async)



        if env === 'production'
            include includes/counters
