if title && url && description
    - var shares_folder = query.type ? query.type + '/' : ''
    // Facebook
    meta(property='og:title', content='#{title.share}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{fullUrl}')
    meta(property='og:image', content='#{url}/layout/images/shares2/#{shares_folder}facebook.png')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(property='og:description', content='#{description}')
    meta(property='og:locale', content='ru_RU')
    meta(property='og:site_name', content='Aviasales.ru')
    meta(property='fb:app_id', content='219887715052731')

    // Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@aviasales')
    meta(name='twitter:url', content='#{fullUrl}')
    meta(name='twitter:title', content='#{title.share}')
    meta(name='twitter:description', content='#{description}')
    meta(name='twitter:creator', content='@aviasales')
    meta(name='twitter:image:src', content="#{url}/layout/images/shares2/#{shares_folder}twitter.png")
    meta(name='twitter:domain', content='#{domain}')

    meta(name='twitter:app:name:iphone', content='Aviasales — дешевые авиабилеты')
    meta(name='twitter:app:name:ipad', content='Aviasales — дешевые авиабилеты')
    meta(name='twitter:app:name:googleplay', content='Aviasales — дешевые авиабилеты')
    meta(name='twitter:app:url:iphone', content='https://itunes.apple.com/ru/app/aviasales-aviabilety-desevo/id498958864?mt=8')
    meta(name='twitter:app:url:ipad', content='https://itunes.apple.com/ru/app/aviasales-aviabilety-desevo/id498958864?mt=8')
    meta(name='twitter:app:url:googleplay', content='https://play.google.com/store/apps/details?id=ru.aviasales')
    meta(name='twitter:app:id:iphone', content='id498958864')
    meta(name='twitter:app:id:ipad', content='id498958864')
    meta(name='twitter:app:id:googleplay', content='ru.aviasales')

    //VK
    link(rel='image_src', href='#{url}/layout/images/shares2/#{shares_folder}vkontakte.png')
    meta(name='title', content='#{title.share}')
